@import "grid";

.path-to-page{
    background-color: gainsboro;
    // .container{

    // }
}

.lala{
    margin-top: 30px;
    .one{
        background-color: red;
        position: relative;
        //padding: 50px;
        .image{
            padding: 0 50px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .img{
                height: 500px;
                width: 100%;
                background-color: aqua;
                
            }
            &.fixed{
                position: fixed;       
            }
        }
        
    }
}
