@import "grid";

.path-to-page {
    background-color: gainsboro;
    margin-bottom: 50px;
}

.product-detail {
    
    &__images {
        background-color: red;
        position: relative;

        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
    
            &.fixed {
                position: fixed;
            }
        }
    }
}
